{{ define "main" }}
<section id="portfolio" class="text-center">
  <div class="container">
    <h2 class="section-title">ポートフォリオ</h2>
    <p class="section-subtitle">
      私たちが手がけた最新のプロジェクトをご覧ください。
    </p>

    <div class="row">
      <div class="col-md-4 col-sm-6 portfolio-item">
        <!-- <img src="images/portfo1.jpg" alt="Project 1" class="img-fluid"> -->
        <h4>プロジェクト 1</h4>
        <p>Web アプリ開発</p>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <!-- <img src="images/portfo2.jpg" alt="Project 2" class="img-fluid"> -->
        <h4>プロジェクト 2</h4>
        <p>デザイン制作</p>
      </div>

      <div class="col-md-4 col-sm-6 portfolio-item">
        <!-- <img src="images/team.jpg" alt="Project 3" class="img-fluid"> -->
        <h4>プロジェクト 3</h4>
        <p>モバイルアプリ</p>
      </div>
    </div>
  </div>
</section>

{{ end }}
